.api-testing-main-container {
  border: 1.5px solid black;
  height: 80vh;
  padding: 0.5rem;
  background-image: url("https://img.wallpapersafari.com/desktop/800/450/30/59/Bo4pPW.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  overflow: auto;
  display: flex;
  justify-content: center;
}
