.header-main-container {
  display: flex;
  flex-direction: column;
  height: 35%;
}

.header-top-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.log-reg-container {
  display: flex;
  flex-direction: row;
}

.nav-button {
  display: flex;
  justify-content: center;
  color: rgb(252, 214, 0);
  padding: 8px;
  font-family: ubuntu;
  border-radius: 5%;
  text-decoration-line: none;
  background-color: rgb(55, 39, 73);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 3px;
  height: 30px;
  width: 60px;
}
.nav-button:hover {
  background-color: rgb(175, 152, 20);
  color: rgb(55, 39, 73);
}

.header-main-buttons {
  display: flex;
  justify-content: space-evenly;
}

.header-sub-button-links {
  display: flex;
  justify-content: space-evenly;
}

.border {
  border: 5px solid black;
}
