.home-main-container {
  border: 1.5px solid black;
  height: 80vh;
  padding: 0.5rem;
  background-image: url("https://preview.redd.it/sli03x8zdi751.png?auto=webp&s=1ddbd044e7a60010d18d3e2ee79a1436b564e185");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
}
