.equipment-main-container {
  border: 1.5px solid black;
  height: 80vh;
  padding: 0.5rem;
  background-image: url("https://i.pinimg.com/originals/01/10/e9/0110e9abe929c0f5b0aa292474f37d08.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  overflow: auto;
}
