.map-main-container {
  border: 1.5px solid black;
  height: 80vh;
  padding: 0.5rem;
  background-image: url("https://i2.wp.com/azgaar.files.wordpress.com/2019/07/antique-big.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  overflow: auto;
}
