.individual-monster-border {
  border: 1px solid black;
}

.individual-monster-main-container {
  border: 1.5px solid black;
  height: 80vh;
  padding: 0.5rem;
  background-image: url("https://i.pinimg.com/736x/af/f0/0c/aff00c7e284cc05403c755570240b51a.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  overflow: auto;
}

/* name */
.individual-monster-name-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.individual-monster-name-inner-container {
  display: flex;
  flex-direction: column;
}

.individual-monster-size-type {
  margin-top: 0.1em;
  display: flex;
  justify-content: center;
}

/* stats and ability*/

.individual-monster-stats-and-ability-container {
  display: flex;
  justify-content: space-evenly;
}

.individual-monster-stats-container {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.individual-monster-stats-inner-container {
  display: flex;
  flex-direction: column;
}

.individual-monster-stat-speed {
  display: flex;
}

.individual-monster-stat-speed-map {
  margin: 1em;
}

.individual-monster-ability-container {
  display: flex;
  margin: 1em;
  justify-content: center;
}

.individual-monster-ability {
  margin: 1em;
}

/* skills*/

.individual-monster-skills-container {
  display: flex;
  margin: 1em;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.individual-monster-skills {
  margin: 1em;
}

.individual-monster-spellcasting-spell-slot {
  display: flex;
}

.individual-monster-spellcasting-spell {
  display: flex;
  margin-left: 1em;
}
