.main-spell-card-container {
  border: 1px solid black;
  width: 95%;
  margin: 2%;
}

.spell-card-info-container {
  display: flex;
  justify-content: space-between;
}

.spell-card-name-container {
  width: 10%;
  display: flex;
  justify-content: flex-start;
}
